body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

nav {
	background-color: #ccc;
	padding: 10px;
	position: fixed;
  	top: 0;
  	left: 0;
  	width: 100%;
  	background-color: white;
	z-index: 100;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #333;
	text-decoration: none;
}

nav a:hover {
	color: #333;
	text-decoration: underline;
}

.whatsapp {
	z-index: 100;
	position: fixed;
	bottom: 20px;
	right: 20px;
  }
  
  .whatsapp a {
	display: block;
	width: 60px;
	height: 60px;
  }
  
  .whatsapp img {
	width: 100%;
	height: 100%;
  }

main {
	width: 100vw;
	margin: 0 auto;
	padding: 20px;
}

.carousel {
	width: 100%;
  }
  
  .carousel-inner {
	width: 100%;
  }

.carousel-item {
	height: calc(100vh - 70px);
    background-color: #f4f4f4;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-item img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
	object-fit:cover;
}

.carousel-item img:nth-child(1){
	object-position: center 6%;
}

.carousel-item img:nth-child(3){
	object-position: center 60%;
}

.roww .coll:nth-child(3) img{
	object-position: center 10%;
}


/* 
.container{
	width: 100vw;
	max-width: 100vw;
} */

/* #container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.item {
	background-color: #f4f4f4;
	flex-basis: calc(33.33% - 20px);
	margin: 1rem 0;
	text-align: center;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: aqua;
}

.item img {
	max-width: 100%;
	max-height: 100%;
	object-fit:cover;
} */


.image-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, auto);
	gap: 10px;
  }
  
  .grid-item {
	position: relative;
  }
  
  .grid-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
  }
  
  .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	transition: opacity 0.3s ease-in-out;
  }
  
  .grid-item:hover .overlay {
	opacity: 1;
  }
  
  button {
	color: #fff;
	background-color: #000;
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
  }
  

  

  /* .image-grid img:hover{
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
	transition: all 0.5s ease;
  } */

/* .xyz{
	margin-top: 20px;
	padding: 20px;
	width: 100vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background-color: aqua;
}
.big-item{
	flex: 33.33%;
	padding: 5px;
}
.big-itemm img{
	width: 100%;
	height: 100%;
	object-fit: cover;
} */

.roww {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	max-width: 100vw;
	padding: 10px;
}
.coll {
	flex-basis: calc(100% / 3);
	padding: 10px;
}
.coll img {
	padding: 0;
	width: 100%;
	height: auto; 
	display: block;
	margin: 0 auto;
	object-fit: cover;
	height: 800px;
}
@media screen and (max-width: 900px) {
	.coll {
		flex-basis: calc(100% / 2);
	}
	.coll:nth-child(3) {
		flex-basis: 100%;
	}
	.coll img{
		height: 600px;
	}
}

footer {
	margin-top: 10px;
	background-color: #333;
	color: #fff;
	padding: 40px;
	text-align: center;
	bottom: 0;
	left: 0;
	width: 100%;
}
.fb{
	margin: 0;
	padding: 0;
}


@media (max-width: 600px) {
	.image-grid {
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(4, auto);
	}
	.coll img{
		height: 300px;
	}
}
